<div class="row">
  <div class="col-12">
    <div class="title">Marketing Center</div>
    <div class="subtitle">ใช้เครื่องมือส่งเสริมการขายของ Shopee ในการเข้าร่วมแคมเปญต่างๆ
      เพื่อเพิ่มยอดขายและดึงดูดผู้ซื้อให้เข้ามาในร้านคุณ</div>
    <div class="row">
      <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
      <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
        <div class="col-12">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 onCursor" (click)="goPage()">
              <mat-card>
                ssss
              </mat-card>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 onCursor" [routerLink]="['/page2']" routerLinkActive="active" >
              <mat-card>
                ccc
              </mat-card>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 onCursor">
              <mat-card>
                aad
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
    </div>

  </div>
</div>